---
layout: default
---
{% assign game = site.data.games[page.game_key] %}
<div class="post">

    <header class="post-header">
        <div class="post-hero">
            <img src="/img/games/{{ page.game_key }}/hero.jpg" alt="{{ game.title }}"/>
        </div>
        <h1 class="post-title">{{ page.title }}</h1>
        <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </header>

    <article class="post-content">
        {{ content }}
        <div>
            <a class="button" href="{{ game.url }}">Play {{ game.title }}</a>
            {% if game.source %}
                <a class="link" href="{{ game.source }}" target="_blank" style="margin-left: 15px;">view source code</a>
            {% endif %}
        </div>
    </article>

</div>
