---
layout: default
---
{% assign game = site.data.games[page.game_key] %}
<div class="post">

    <header class="post-header">
        {% if game.hero %}
            <img class="post-hero" src="/img/hero/{{ page.game_key }}.jpg" alt="{{ game.title }}"/>
        {% endif %}
        <h1 class="post-title">{{ page.title }}</h1>
        <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </header>

    <article class="post-content">
        {{ content }}
        <a class="button" href="{{ game.url }}">Play {{ game.title }} Now</a>
    </article>

</div>
